  * {
      box-sizing: border-box;
      transition: all .2s;
  }
  body,
  body > *,
  .page-header,
  .page-header__nav,
  .main-content > * {
      display: flex;
  }
  html {
      padding: 0;
      margin: 0;
  }
  body {
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-family: "Alegreya Sans";
      margin: 0;
      padding: 0;
  }
  .page-header__container {
      background-color: #3C3352;
      justify-content: space-between;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      z-index: 2;
  }
  .page-header {
      width: 85%;
      justify-content: space-between;
      -ms-justify-content: space-between;
      align-items: center;
      padding: 1.8em 0.8em;
  }
 header.scrolled {
  	padding: 1em 0.8em;
  }
  header.scrolled ~ .mobile {
  	top: 2.7em;
  	transition: all .2s
  }
  .page-header a {
      text-decoration: none;
  }
  .menu-icon {
      position: absolute;
      left: -9999px;
      box-sizing: content-box;
  }
  .page-header__logo {
      font-family: "Alegreya Sans";
      font-weight: 800;
      font-size: 2em;
      color: #fff;
      opacity: 0.8;
      align-self: center;
      margin-right: auto; /* for IE */
  }
  .page-header__logo:hover {
      opacity: 1;
      color: #FFED8F;
  }
  .page-header__nav-list {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  }
  .page-header__nav-list.mobile {
  	width: 100%;
  	background-color: #3C3352;
  	font-size: 0.8em;
  }
  .page-header__nav-list__item a {
      display: block;
      font-size: 1.3em;
      color: rgba(255, 255, 255, 0.8);
      padding: 0.5em;
  }
  .page-header__nav-list__item a:hover {
      color: #FFED8F;
      text-decoration: none;
  }
  .main-screen {
      width: 100%;
      color: rgba(0, 0, 0, 0.7);
      background-color: rgba(255, 237, 143, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .main-screen__content {
      width: 75%;
      min-height: 400px;
      padding: 10em 1em 5em 1em;
      display: flex;
      align-items: flex-start;
  }
  .main-screen__content__info {
    max-width: 12em;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-size: 1.3em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
    margin-right: 2.5em;
    border-right: 1px solid #3C3352;
    /*flex-direction: column;*/
  }
  .main-screen__content__info > span {
    margin: 0 1em 0.5em 1em;
    position: relative; 
  }
  .main-screen__content__info > span::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -1.5em;
  }
  .main-screen__content__info > .name::before {
    background: url("../img/user.svg") center center no-repeat;
    background-size: 100%;
  }
  .main-screen__content__info > .age::before {
    background: url("../img/age.svg") center center no-repeat;
    background-size: 100%;
  }
  .main-screen__content__info > .profession::before {
    background: url("../img/html.svg") center center no-repeat;
    background-size: 100%;
  }
  .main-screen__content__info > .location::before  {
    background: url("../img/location.svg") center center no-repeat;
    background-size: 100%;
  }
  .main-screen__content__info > img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1.5em;
  }
  .main-screen__content__about {
    
  } 
  .main-screen__content__about > p {
      font-size: 1.6em;
      margin-top: 0;
  }
  .main-screen__content__about > span {
      font-size: 1.3em;
  }
  .main-screen__content__about ul {
  }
  .main-screen__content__about li {
      list-style: none;
      position: relative;
      font-size: 1.6em;
  }
  .main-screen__content__about li::before {
      content: "";
      position: absolute;
      width: 0.5em;
      height: 0.5em;
      background-color: #359768;
      border-radius: 50%;
      left: -0.8em;
      top: 0.3em;
  }
  .underline {
      text-decoration: underline;
  }
  .portfolio__container,
  .portfolio__container > * {
      flex-wrap: wrap;
  }
  .portfolio__container {
      width: 65%;
      max-width: 80em;
      padding: 1em;
      justify-content: space-between;
  }
  .portfolio__container h1 {
  	font-size: 4em;
  	text-align: center;
  }
  .portfolio__elem-group {
      display: flex;
      width: 100%;
      justify-content: space-between;
  }
  .portfolio__container h1 {
      flex-basis: 100%;
      flex-grow: 1;
  }
  .portfolio__portfolio-elem {
      max-width: 350px;
      min-width: 33%;
      height: auto;
      background-size: contain;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-self: center;
      align-items: center;
  }
  .portfolio__portfolio-elem > img {
  	max-width: 400px;
  	min-width: 33%;
  }
  .overlay {
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      background: url("../img/zoom-in.svg") center center no-repeat #359768;
      background-size: 15%;
      position: absolute;
      top: 0;
      left: 0;
  }
  .overlay::after {
      content: "";
      position: absolute;
      width: 2em;
      height: 2em;
      background: url;
  }
  .portfolio__portfolio-elem:hover > .overlay {
      opacity: 0.8;
  }
  .features__container	{
  	width: 100%;
  	background-color: rgba(53, 151, 104, 1);
  	color: #fff;
  	margin: 3em 0;
  }
  .features {
  	display: flex;
  	justify-content: space-between;
  	width: 65%;
  	margin: 0 auto;
  	padding-bottom: 4em;
  }
  .features__feature {
  	padding: 15em 1em 0 1em;
  	width: 33%;
  	position: relative;
  	cursor: pointer;
  }
  .features__feature h2 {
  	font-size: 2em;
  	width: 100%;
  	text-align: center;
  }
  .features__feature p {
  	font-size: 1.3em;
  	-ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .features__feature:hover::before {
  	border-color: rgba(53, 151, 104, 1);
  }
  .features__feature:first-child:hover::before {
  	background: url("../img/ie-green.svg") center center no-repeat #FFED8F;
  	background-size: 53%;
  }
  .features__feature:nth-child(2):hover::before {
  	background: url("../img/responsive-green.svg") center center no-repeat #FFED8F;
  	background-size: 53%;
  }
  .features__feature:last-child:hover::before {
  	background: url("../img/list-green.svg") center center no-repeat #FFED8F;
  	background-size: 53%;
  }
  .features__feature::before {
  	position: absolute;
  	top: 15%;
  	left: 50%;
  	margin-left: -5em;
  	content: "";
  	width: 10em;
  	height: 10em;
  	background: url("../img/list.svg") center center no-repeat;
  	background-size: 50%;
  	border: 1px solid #FFED8F;
  	border-radius: 50%;
  	transition: all .5s;
  }
  .features__feature:first-child::before {
  	background: url("../img/ie.svg") center center no-repeat;
  	background-size: 50%;
  }
  .features__feature:nth-child(2)::before {
  	background: url("../img/responsive.svg") center center no-repeat;
  	background-size: 50%;
  }
  .contacts {
  	width: 65%;
  	justify-content: space-between;
  	flex-flow: row wrap;
  	padding: 2em;
    margin-bottom: 5em;
  }
  .contacts legend {
  	width: 100%;
  	text-align: center;
  	font-size: 5em;
  }
  .contacts input {
  	padding: 1em;
  	font-size: 1.5em;
  }
  .contacts__name, .contacts__mail {
  	width: 45%;
  	margin: 3em 0;
  }
  .contacts__comment {
  	width: 100%;
  	margin-bottom: 3em;
  	padding: 1em;
  	font-size: 1.5em;
  }
  .contacts button {
  	padding: 1em 2em;
  	font-size: 1.7em;
  	border: 1px solid gray;
  	border-radius: .2em;
  	background: rgba(53, 151, 104, 0.8);
  	cursor: pointer;
  	color: #fff;
  }
  .contacts button:hover {
  	background: rgba(53, 151, 104, 1);
  }
  .contacts button:active {
  	box-shadow: inset 0px 0px 2px 1px black;
  }
  .contacts input, .contacts__comment {
  	border-color: #A7D46F;
  	border-radius: .2em;
  	box-shadow: none;
  	background-color: rgba(255, 237, 143, 0.3);

  }
  .footer-container {
  	width: 100%;
  	background-color: #3C3352;
  	justify-content: center;
  }
  .page-footer {
  	width: 65%;
  	min-height: 13em;
  	display: flex;
  	justify-content: space-between;
  	color: #fff;
  }
  .page-footer a {
  	color: #fff;
  	text-decoration: none;
  }
  .page-footer h2 {
  	font-size: 2em;
  	font-weight: 400;
  	width: 100%;
  	text-align: center;
  }
  .page-footer__contacts {
  	margin-left: 5em;
  }
  .page-footer__contacts > h2 {
  	text-align: left;
  	margin-left: -1.5em;
  }
  .page-footer__contacts a {
  	position: relative;
  } 
  .page-footer__contacts p {
  	font-size: 1.5em;
  	font-weight: 300;
  }
  .page-footer__contacts a::before {
  	content:"";
  	width: 1.7em;
  	height: 3em;
  	position: absolute;
  	top: -1em;
  	left: -2em;
  }
  .page-footer__contacts__mail::before {
  	background: url("../img/mailing.svg") center center no-repeat;
  }
  .page-footer__contacts__mail:hover::before {
  	background: url("../img/mailing-active.svg") center center no-repeat;;
  }
  .page-footer__contacts__phone::before {
  	background: url("../img/phone.svg") center center no-repeat;
  }
  .page-footer__contacts__phone:hover::before {
  	background: url("../img/phone-active.svg") center center no-repeat;
  }
  .page-footer__social-list {
  	display: flex;
  	list-style: none;
  }
  .page-footer__social-list li > a {
  	display: block;
  	width: 4em;
  	height: 4em;
  	border: 2px solid #fff;
  	border-radius: 50%;
  	margin-right: 2em;
  	background: url("../img/git.svg") center center no-repeat;
  	background-size: 60%;
  }
  .page-footer__social-list li:nth-of-type(2) a {
  	background: url("../img/vk.svg") center center no-repeat;
  	background-size: 60%;
  }
  .page-footer__social-list li:nth-of-type(3) a {
  	background: url("../img/codepen.svg") center center no-repeat;
  	background-size: 60%;
  }
  .page-footer__social-list li > a:hover {
  	background: url("../img/git-active.svg") center center no-repeat #fff;
  	background-size: 60%;
  }
  .page-footer__social-list li:nth-of-type(2) > a:hover {
  	background: url("../img/vk-active.svg") center center no-repeat #fff;
  	background-size: 60%;
  }
  .page-footer__social-list li:nth-of-type(3) > a:hover {
  	background: url("../img/codepen-active.svg") center center no-repeat #fff;
  	background-size: 60%;
  }
  @media screen and (min-width: 1100px) and (max-width: 1400px) and (min-device-width: 1100px) and (max-device-width: 1400px) {
      .main-screen__content {
        width: 95%;
        padding-bottom: 4em;
      }
      .main-screen__content__about {
        max-width: 65%;
      }
      .main-screen__content__about ul {
          display: flex;
          flex-wrap: wrap;
          margin-left: -3.6em;
      }
      .main-screen__content__about li {
          margin-left: 1.6em;
      }
  }
  @media screen and (max-width: 1100px) {
      .main-screen__content {
        width: 90%;
      }
      .main-screen__content__about ul {
          display: flex;
          flex-wrap: wrap;
          margin-left: -3.6em;
      }
      .main-screen__content__about ul li {
      	margin-left: 1.5em;
      }
      .portfolio__container {
      	padding-left: 0;
      }
      .portfolio__elem-group {
      	flex-wrap: wrap;
      }
      .portfolio__portfolio-elem {
      	min-width: 60%;
      }
  }
  @media screen and (min-width: 768px) and (max-width: 1100px) and (min-device-width: 768px) and (max-device-width: 1100px){
      .main-screen__content {
          /*flex-wrap: wrap;*/
      }
      .main-screen__content__about {
          width: 80%;
      }
      .portfolio__elem-group {
      	flex-wrap: wrap;
      }
      .page-footer {
        font-size: 0.7em;
      }
  }
  @media screen and (max-width: 768px) {
      .page-header {
          width: 100%;
          padding: 1.2em 0.8em;
      }
      .page-header.scrolled {
      	padding: 0.6em 0.8em;
      }
      .page-header__nav-list.scrolled-menu.mobile {
      	top: 2.7em;
      }
      .page-header__logo {
          font-size: 1.2em;
          margin: 0 auto;
      }
      .page-header__nav-list {
          position: absolute;
          top: -1000px;
          left: 0;
          width: 100%;
          opacity: 1;
      }
      .page-header__nav-list__item a {
      	font-size: 18px;
      }
      .page-header__nav-list.mobile {
      	position: absolute;
      	top: 4em;
      	left: 0;
      	transition: all 0.2s;
      	z-index: 100;
      	opacity: 1;
      }
      .menu-icon {
          position: relative;
          left: 0;
          width: 1em;
          height: 0.13em;
          background-color: rgba(255, 255, 255, 0.8);
          background-clip: content-box;
          border: 0.13em solid rgba(255, 255, 255, 0.8);
          padding: 0.17em 0;
          border-left: none;
          border-right: none;
          cursor: pointer;
      }
      .menu-icon:hover {
          border-color: #FFED8F;
          background-color: #FFED8F;
      }
      .main-screen__content__info {
        padding-right: 1em;
        margin-right: 1em;
      }
      .main-screen__content__info > span {
        margin-right: 2em;
        margin-left: 0;
        min-width: 7em;
        font-size: 0.8em;
      }
      .main-screen__content img {
      	width: 100%;
      }
      .main-screen__content {
          width: 95%;
          padding-top: 5em;
      }
      .main-screen__content__about ul li {
      	display: inline-block;
      	margin-right: 1.2em;
      }
  }
   @media only screen and (min-device-width: 425px) and (max-device-width: 767px) and (min-width: 425px) and (max-width: 767px) {
    .main-screen__content p {
          font-size: 1.2em;
      }
   }
  @media only screen and (min-device-width: 320px) and (max-device-width: 425px) and (min-width: 320px) and (max-width: 425px) {
      .main-screen__content {
        flex-flow: row wrap;
        width: 100%;
      }
      .main-screen__content__info {
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        border: none;
        min-width: 100%;
      }
      .main-screen__content p {
          font-size: 1.4em;
      }
      .main-screen__content__about > span {
          font-size: 1em;
      }
      .main-screen__content__about li {
          font-size: 1.1em;
      }
  }