doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Клешнин Павел - Портфолио
    link(rel='stylesheet', href='./css/normalize.min.css')
    link(rel='stylesheet', href='./css/main.css')
  body
    .header-container
      header.page-header
        a.page-header__logo(href='#')
        nav.page-header__nav
          ul.page-header__nav-list
            li.page-header__nav-list__item
              a(href='#') Обо мне
            li.page-header__nav-list__item
              a(href='#') Работыыsfdcsacsc
            li.page-header__nav-list__item
              a(href='#') Контакты
    main.main-content
      .main-content__portfolio-elem
      .main-content__portfolio-elem
      .main-content__portfolio-elem
